input{
  width: 1500px;
  height: 30px;
  border-radius: 8px;
  border-color: #646cff;
  padding-bottom: 10px;
}
.show{
  width: 1508px;
  height: 550px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 150px;
}

li{
  list-style: none;
}
tr{
  width: 200px;
  height: 40px;
}









